.custom-navbar {
  background-color: #434343;
  color: #ffffff;
}

.custom-navbar .navbar-nav .nav-link {
  color: #ffffff;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #ddd;
}

.custom-navbar .navbar-brand {
  color: #ffba0f;
}

.custom-navbar .navbar-brand:hover {
  color: #6b0042;
}